{% load static %}
<! DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Duru Sans' rel='stylesheet'>
		<link href="{% static 'css/Styling.css' %}" rel="stylesheet" type"text/css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				var i = 0;
				var color = ["#ffc171", "#fff1db",];
				var fontcolor = ["white", "black",];
				$("button").click(function(){
					i = i < color.length ? ++i : 0;
					document.querySelector("body").style.background = color[i];
					document.querySelector("h1").style.color = fontcolor[i];
				});
			});

		</script>
	</head>
	<body>
	<button type="button" class="btn-danger">change theme</button>
	<center><h1>Palito Jeremy Panggabean </h1>
	<img src="https://preview.ibb.co/bB30Kz/1482347713613.jpg" alt="1482347713613" width="22%" style="border-radius: 40%; center;"></a>
	</center>
		<!-- Grid row -->
		<div id = "accordion" class="row accordion-gradient-bcg d-flex justify-content-center">
			<!-- Grid column -->
			<div class="col-md-10 col-xl-6 py-5">

				<!--Accordion wrapper-->
				<div class="accordion md-accordion accordion-2" id="accordionEx7" role="tablist" aria-multiselectable="true">

					<!-- Accordion card -->
					<div class="card">

						<!-- Card header -->
						<div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading1">
							<a data-toggle="collapse" data-parent="#accordionEx7" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
								<h5 class="mb-0 white-text text-uppercase font-thin">
									Activities <i class="fa fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>

						<!-- Card body -->
						<div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordionEx7">
							<div class="card-body mb-1 white-text">
								<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
								3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
								shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
								sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
								farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
								accusamus labore sustainable.</p>
							</div>
						</div>
					</div>
					<!-- Accordion card -->

					<!-- Accordion card -->
					<div class="card">

						<!-- Card header -->
						<div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading2">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
								<h5 class="mb-0 white-text text-uppercase font-thin">
									Organizations <i class="fa fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>

						<!-- Card body -->
						<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordionEx7">
							<div class="card-body mb-1 white-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
					<!-- Accordion card -->

					<!-- Accordion card -->
					<div class="card">

						<!-- Card header -->
						<div class="card-header rgba-stylish-strong z-depth-1 mb-1" role="tab" id="heading3">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordionEx7" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
								<h5 class="mb-0 white-text text-uppercase font-thin">
									Achievements <i class="fa fa-angle-down rotate-icon"></i>
								</h5>
							</a>
						</div>
						<!-- Card body -->
						<div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordionEx7">
							<div class="card-body mb-1 white-text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							</div>
						</div>
					</div>
					<!-- Accordion card -->
				</div>
				<!--/.Accordion wrapper-->

			</div>
			<!-- Grid column -->

		</div>
		<!-- Grid row -->
	</body>
</html>