body {
    background: #ff846e;
}

h1 {
    color: white;
    text-align: center; 
    padding-top: 5rem; 
    font-family: 'Merriweather', serif;
    font-size: 60px;
}

.bintang {
    position: relative;
    text-align: center;
    color: #828282;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabel {
    padding-top: 2%; 
    margin-left: 10%;
    margin-right: 10%;
}
