<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Palito</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am 18 years old</article>
	<img src ="{%static "media/FotoPalito.JPG" %}", width="200" align="center">
	
	<hr>
	
	<article>Kuliah : Universitas Indonesia</article>
	<article>Hobi : Bermain musik</article>
	<p>Saya lahir di Jakarta namun tumbuh besar di Medan.</p>
	<hr size="5">
    <h1>Hello His name is Devin Winardi</h1>
    <article>NPM : 1706039755</article>
    <article>He is 19 years old</article>
	<img src ="{%static "media/FotoDevin.JPG" %}", width="200" align="center">
	<hr>
	<article>Kuliah : Universitas Indonesia</article>
	<article>Hobi : Bermain video game</article>
	<p>Dia adalah anak pertama dari dua bersaudara</p>
	<hr size="5">
    <h1>Hello His name is Dhipta</h1>
    <article>NPM : 1706028644</article>
    <article>He is 19 years old</article>
	<img src ="{%static "media/FotoDhipta.JPG" %}", width="200" align="center">
	<hr>
	<article>Kuliah : Universitas Indonesia</article>
	<article>Hobi : Gabut</article>
	<p>Dhipta asli berasal dari Daerah Istimewa Yogyakarta.</p>
</body>

</html>
